name: Run tests

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: control_stock_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U ${{ secrets.POSTGRES_USER }}"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Lint code
        run: |
          pip install black flake8
          black --check .
          flake8 .

      - name: Install dependencies and run tests with coverage
        run: |
          cd inventory_service && pip install -r requirements.txt
          pytest --cov=app --cov-fail-under=30

          cd ../store_service && pip install -r requirements.txt
          pytest --cov=app --cov-fail-under=30

          cd ../customer_sim && pip install -r requirements.txt
          pytest --cov=app --cov-fail-under=30
